[Unit]
Description=RhytHUEm
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/rhytHUEm/rhythuem.py

[Install]
WantedBy=multi-user.target
